body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0px;
}

header {
  background-color: black;
  padding: 30px 80px;
}

nav {
  display: flex;
  justify-content: space-between;
}

.logo {
  color: red;
  font-size: 3rem;
  text-decoration: none;
}

.nav-links {
  display: flex;
  gap: 30px;
  list-style: none;
  text-align: center;
  padding-left: 0px;
}

.nav-item {
  transition: all .2s ease-in-out;
}

.nav-item:hover {
  transform: scale(1.1);
}

.nav-link {
  color: white;
  font-size: 1.5rem;
  text-align: center;
  text-decoration: none;
  transition: all .2s ease-in-out;
}

/* Home Page */

.summary-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.summary-info {
  font-size: 1rem;
}

.page-heading {
  font-size: 2rem;
  text-align: center;
}

/* List Pages */

.list-section {
  padding: 20px;
}

.create-link-container {
  text-align: center;
  margin: 30px;
}

.create-link {
  background-color: green;
  color: white;
  text-decoration: none;
  border-radius: 20px;
  padding: 10px;
}

.list-caption-help {
  text-align: center;
}

.list-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 10px;
  width: 100%;
}

.list-item-container {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  transition: all .2s ease-in-out;
}

.list-item-container:hover {
  transform: scale(1.05);
}

.list-detail-link {
  text-decoration: none;
}

/* Detail Pages */

.detail-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2rem;
  padding: 20px;
}

.console-detail-info {
  display: flex;
  flex-grow: 1;
  justify-content: space-around;
  width: 100%;
}

.game-edit-container {
  padding-top: 30px;
}

.edit-link {
  text-decoration: none;
}

.update-link-button,
.delete-link-button {
  border-radius: 20px;
  padding: 10px;
  color: white;
  font-size: 1.2rem;
  margin: 10px;
  border: none;
  cursor: pointer;
}

.update-link-button {
  background-color: blue;
}

.delete-link-button {
  background-color: red;
}

/* Form */
.form-section {
  padding: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.form-item {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.check-heading {
  text-align: center;
}

.form-button {
  margin-top: 20px;
  background-color: white;
  border: 1px solid black;
  border-radius: 8px;
  font-size: 2rem;
  padding: 10px;
}

.form-button:hover {
  background-color: lightgray;
}

/* Delete */
.delete-section {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.delete-button {
  border-radius: 20px;
  padding: 10px;
  color: white;
  font-size: 1.2rem;
  margin: 10px;
  border: none;
  cursor: pointer;
  background-color: red;
  width: 300px;
}

/* Misc */

.shadow {
  box-shadow:
    0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075),
    0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075),
    0 16px 16px hsl(0deg 0% 0% / 0.075)
  ;
}

@media (max-width: 1000px) {
  nav {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 500px) {
  .logo {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
  }

  .nav-links {
    flex-direction: column;
    gap: 10px;
  }
}